<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>{{title}}</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContentng ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/currency">View currency</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/404">Page not found</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id = "main-body">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <img src="assets/logo.png" align="middle" class = "logo"/>
      </div>
      <div class="col-md-12">
        <h5> Currency catalog </h5>
      </div>
    </div>
    <router-outlet> </router-outlet>
  </div>
</div>

